body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#prompt {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.849);
    color: #916b3abe;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid #a77535be;
}

#promptExit {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.849);
    color: #916b3abe;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid #a77535be;
}
